<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <script>
        async function loadDashboard() {
            const txRes = await fetch('/api/transactions');
            const txs = await txRes.json();

            const blockRes = await fetch('/api/blocks');
            const blocks = await blockRes.json();

            document.getElementById('transactions').innerHTML =
                txs.map(tx => `<li>${tx.sender} → ${tx.receiver} | cert: ${tx.cert_hash}</li>`).join("");

            document.getElementById('blocks').innerHTML =
                blocks.map((block, idx) => `
                    <li>
                        Block #${block.index} | Hash: ${block.hash}<br/>
                        TX count: ${block.transactions.length}
                    </li>
                `).join("");
        }

        
        window.onload = loadDashboard;
    </script>
</head>
<body>
    <h1>Dashboard</h1>

    <h2>Pending Transactions</h2>
    <ul id="transactions"></ul>

    <h2>Blocks</h2>
    <ul id="blocks"></ul>

    <button onclick="approveBlock()">Approve Block</button>
</body>
</html>
